body{
    align-content: right;
    bottom: 50%;
    background-color: aliceblue;
  
    text-align: center;
    text-justify: inter-word;
    margin-left: 25%;
    margin-right: 25%;
    outline: dotted 1px black;
}
html{
border: 2px solid white;
    outline: solid 2px black;
}
br{
    text-align: left;
}
i{
    color: aqua;
}
img{
    height: 40px;
    width: 40px;
}